* {
  margin: 0px;
  padding: 0px; }

@font-face {
  font-family: 'Intensa Fuente Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Intensa Fuente Regular"), url("../font/Intensa Fuente.woff") format("woff"); }
body {
  color: #333333;
  font-size: 18px;
  font-family: "NanumSquare", sans-serif;
  height: 100vh;
  background-color: #111;
  background-image: url("../image/background7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

.allAreaML {
  width: 100%;
  height: 1000px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(1, 6, 28, 0.17);
  overflow: hidden; }
  .allAreaML .backgroundAreaML {
    width: 1400px;
    height: 898.5074px;
    position: relative;
    margin: 70px;
    z-index: 60; }
    .allAreaML .backgroundAreaML .homeIconArea {
      position: absolute;
      left: -6rem;
      top: 3%;
      width: 8rem;
      height: 3rem;
      cursor: pointer;
      text-decoration: none;
      display: block;
      display: flex;
      flex-flow: row nowrap; }
      .allAreaML .backgroundAreaML .homeIconArea .homeIcon {
        width: 4rem;
        height: 3rem;
        color: #efbe45;
        position: absolute;
        left: 2rem; }
      .allAreaML .backgroundAreaML .homeIconArea .homeText {
        width: 8rem;
        height: 3rem;
        font-size: 1.8rem;
        font-family: "Intensa Fuente Regular";
        color: #110060;
        text-align: center;
        line-height: 3rem;
        transition: color,display 0.2s linear;
        display: none;
        text-shadow: 0px 0px 20px rgba(31, 31, 31, 0.58);
        position: absolute; }
    .allAreaML .backgroundAreaML .homeIconArea:hover .homeIcon {
      color: #110060; }
    .allAreaML .backgroundAreaML .homeIconArea:hover .homeText {
      color: goldenrod;
      display: block; }
    .allAreaML .backgroundAreaML .outBG {
      width: 99.3985%;
      height: 99.5487%;
      position: absolute; }
    .allAreaML .backgroundAreaML .inPager {
      width: 95.4666%;
      height: 88.3057%;
      position: absolute;
      left: 2.8959%;
      top: 10.8295%;
      background-color: #fcfbfa; }
      .allAreaML .backgroundAreaML .inPager .contentsArea {
        background-color: #fcfbfa;
        box-sizing: border-box;
        padding: 15px;
        display: none; }
        .allAreaML .backgroundAreaML .inPager .contentsArea .exitBtnArea {
          width: 100%;
          height: 30px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end; }
          .allAreaML .backgroundAreaML .inPager .contentsArea .exitBtnArea .exitBtn {
            width: 30px;
            height: 30px;
            outline: none;
            border: none;
            transition: background-image, cursor 0.3s linear;
            background-image: url("../image/manager_login_exitBtn.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-color: #fcfbfa; }
          .allAreaML .backgroundAreaML .inPager .contentsArea .exitBtnArea .exitBtn:hover {
            background-image: url("../image/manager_login_exitRedBtn.png"); }
        .allAreaML .backgroundAreaML .inPager .contentsArea .allCheakArea {
          height: 2.777rem;
          padding: 0.1111%;
          font-size: 1rem;
          margin: 1.1111% 0%;
          box-sizing: border-box; }
          .allAreaML .backgroundAreaML .inPager .contentsArea .allCheakArea .numOneRow {
            height: 2.777rem;
            line-height: 100%; }
        .allAreaML .backgroundAreaML .inPager .contentsArea .userNumber {
          overflow: auto;
          height: 500px;
          font-size: 1rem;
          margin: 1.1111% auto;
          box-sizing: border-box; }
          .allAreaML .backgroundAreaML .inPager .contentsArea .userNumber .numOneRow {
            height: 2.777rem;
            border-bottom: 1px solid #110060;
            line-height: 100%; }
            .allAreaML .backgroundAreaML .inPager .contentsArea .userNumber .numOneRow .colRowML {
              height: 2.777rem;
              line-height: 2.777rem; }
        .allAreaML .backgroundAreaML .inPager .contentsArea .row .titleText {
          height: 2.777rem;
          line-height: 2.777rem;
          font-size: 1.2rem;
          margin: 20px 0px; }
        .allAreaML .backgroundAreaML .inPager .contentsArea .row .textareaArea {
          height: 500px;
          width: 100%; }
          .allAreaML .backgroundAreaML .inPager .contentsArea .row .textareaArea .textareaBox {
            resize: none;
            overflow: auto;
            width: 100%;
            height: 100%;
            line-height: 1.5em;
            font-size: 1rem; }
        .allAreaML .backgroundAreaML .inPager .contentsArea .row .btnArea {
          height: 4.4444rem;
          box-sizing: border-box;
          padding: 1.1112%;
          width: 100%; }
          .allAreaML .backgroundAreaML .inPager .contentsArea .row .btnArea .btnSize {
            width: 100%;
            height: 100%; }
    .allAreaML .backgroundAreaML .outTitle {
      width: 14.6759%;
      height: 9.5122%;
      position: absolute;
      left: 7.5740%;
      top: 1%;
      line-height: 4.7222rem;
      color: #b0c3ff;
      font-family: "Intensa Fuente Regular";
      font-size: 3rem; }
    .allAreaML .backgroundAreaML .openArea {
      width: 98.4637%;
      height: 95.8877%;
      position: absolute;
      left: 2.8959%;
      top: 4.6643%;
      transform-origin: bottom left; }
      .allAreaML .backgroundAreaML .openArea .bGImage .inBG {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        background-image: url("../image/manager_login_inBGIn.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 66% 61.45%; }
      .allAreaML .backgroundAreaML .openArea .inputArea {
        width: 21rem;
        height: 10.5rem;
        position: absolute;
        left: 5.13%;
        top: 14.13%; }
        .allAreaML .backgroundAreaML .openArea .inputArea .contentsArea {
          width: 89.48%;
          height: 80.84%;
          position: absolute;
          left: 0%;
          top: 18.21%;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          display: flex;
          background-image: url("../image/manager_login_input_area_box.png");
          background-repeat: no-repeat;
          background-size: contain; }
          .allAreaML .backgroundAreaML .openArea .inputArea .contentsArea .contentSortArea {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center; }
            .allAreaML .backgroundAreaML .openArea .inputArea .contentsArea .contentSortArea .titleText {
              width: 80%;
              height: 1.2rem;
              color: #b0c3ff;
              font-size: 1.1rem;
              line-height: 1.2rem;
              font-weight: 700; }
            .allAreaML .backgroundAreaML .openArea .inputArea .contentsArea .contentSortArea .typingArea {
              height: 1.7777rem;
              line-height: 1.7777rem;
              text-align: right;
              margin: 20px 0px; }
              .allAreaML .backgroundAreaML .openArea .inputArea .contentsArea .contentSortArea .typingArea .typingNum {
                border: none;
                outline: none;
                display: inline;
                width: 30px; }
            .allAreaML .backgroundAreaML .openArea .inputArea .contentsArea .contentSortArea .inputBoxArea {
              width: 80%;
              height: 24.6975%;
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between; }
              .allAreaML .backgroundAreaML .openArea .inputArea .contentsArea .contentSortArea .inputBoxArea .inputOut {
                width: 69.00%;
                height: 100%;
                text-align: center;
                background-image: url("../image/manager_login_input.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50% 50%; }
                .allAreaML .backgroundAreaML .openArea .inputArea .contentsArea .contentSortArea .inputBoxArea .inputOut .inputIn {
                  width: 80%;
                  height: 80%;
                  line-height: 1rem;
                  outline: none;
                  border: none;
                  background-color: rgba(0, 0, 0, 0);
                  border: none;
                  outline: none;
                  color: #333333;
                  font-family: "Intensa Fuente Regular"; }
              .allAreaML .backgroundAreaML .openArea .inputArea .contentsArea .contentSortArea .inputBoxArea .buttonStyle {
                width: 26.07%;
                height: 100%;
                display: block;
                outline: none;
                border: none;
                text-align: center;
                color: #b0c3ff;
                background-image: url("../image/manager_login_btn.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-color: rgba(0, 0, 0, 0);
                background-position: 50% 50%; }
            .allAreaML .backgroundAreaML .openArea .inputArea .contentsArea .contentSortArea .passwordText {
              width: 80%;
              height: 1.0rem;
              line-height: 1.0rem;
              font-size: 0.5rem;
              color: #b0c3ff;
              box-sizing: border-box;
              padding-left: 20px; }
        .allAreaML .backgroundAreaML .openArea .inputArea .gearArea {
          width: 28%;
          height: 38.97%;
          position: absolute;
          right: 0px;
          top: 0px; }
          .allAreaML .backgroundAreaML .openArea .inputArea .gearArea .bigGear {
            position: absolute;
            width: 89.05%;
            height: 100%;
            left: 0px;
            top: 0px; }
          .allAreaML .backgroundAreaML .openArea .inputArea .gearArea .smallGear {
            width: 56.20%;
            height: 62.70%;
            position: absolute;
            right: 0px;
            bottom: 0px; }

@media all and (max-width: 1550px) {
  body {
    color: #333333;
    background-color: #111;
    font-size: 18px;
    font-family: "NanumSquare", sans-serif;
    width: 100%;
    background-color: #111;
    background-image: url("../image/background7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }

  .allAreaML {
    width: 100%;
    height: auto;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    display: flex; }
    .allAreaML .homeIconArea {
      left: 80%; }
    .allAreaML .backgroundAreaML {
      width: 1400px;
      height: 898.5074px;
      position: relative; }
      .allAreaML .backgroundAreaML .outTitle {
        width: 14.6759%;
        height: 9.5122%;
        position: absolute;
        left: 7.5740%;
        top: 0.82%;
        line-height: 4.7222rem;
        color: #b0c3ff;
        font-family: "Intensa Fuente Regular";
        font-size: 3rem; } }
@media all and (max-width: 576px) {
  body {
    color: #333333;
    background-color: #111;
    font-size: 10px;
    font-family: "NanumSquare", sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #111;
    background-image: url("../image/background7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }

  .allAreaML {
    width: 100%;
    height: auto;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    display: flex; }
    .allAreaML .backgroundAreaML {
      width: 400px;
      height: 256.7164px; }
      .allAreaML .backgroundAreaML .outTitle {
        width: 14.6759%;
        height: 9.5122%;
        position: absolute;
        left: 7.5740%;
        top: 0.82%;
        line-height: 3rem;
        color: #b0c3ff;
        font-family: "Intensa Fuente Regular";
        font-size: 2rem; } }

/*# sourceMappingURL=managerLogin.css.map */
