
/*story영역*/
.storySection {
    width: 100%;
    height: 1000px;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0, 0,0, 0.5)), url("../image/background6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    .storyTextBox {
        width: 50%;
        height: 70%;
        position: absolute;
        top: 28%;
        left: 9%;
        h1 {
            font-family: 'Intensa Fuente Regular';
            color: #fde37b;
            font-size: 45px;
        }
        .textBox{
            display: none;
        }
        .typing {
            margin-top: 30px;
        }
        .typing ul li{
            display:block;
            color: white;
            font-size: 22px;
            line-height: 40px;
          }
          .typing ul li.on {  
            display: inline-block; 
            animation-name: cursor; 
            animation-duration: 0.3s; 
            animation-iteration-count: infinite; 
          } 
          @keyframes cursor{ 
            0%{border-right: 1px solid #fff} 
            50%{border-right: 1px solid #000} 
            100%{border-right: 1px solid #fff} 
          };
            
               
    }
    .storyTextBoxMobile,.storyTextBoxMobile h1,.storyTextBoxMobile pre {
        display: none;
    }
}
@media only screen and (min-width: 425px) and (max-width: 576px) {
    /*모바일 story 영역*/
    .storySection {
        width: 100%;
        height: 500px;
        background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0, 0,0, 0.5)), url("../image/background6.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        position: relative;
        .storyTextBoxMobile {
            width: 90%;
            height: 80%;
            position: absolute;
            top: 14%;
            left: 5%;
            display: block;
            h1 {
                font-family: 'Intensa Fuente Regular';
                color: #fde37b;
                font-size: 30px;
                display: block;
            }
            pre {
                font-family: 'NanumSquare';
                color: #fcfbfa;
                font-size: 13px;
                line-height: 25px;
                display: block;
            }
        }
        .storyTextBox,.storyTextBox h1,.storyTextBox pre {
            display: none;
        }
    }
}

@media only screen and (max-width: 425px){
    .storySection {
        width: 100%;
        height: 500px;
        background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0, 0,0, 0.5)), url("../image/background6.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        position: relative;
        .storyTextBoxMobile {
            width: 93%;
            height: 80%;
            position: absolute;
            top: 14%;
            left: 3%;
            display: block;
            h1 {
                font-family: 'Intensa Fuente Regular';
                color: #fde37b;
                font-size: 30px;
                display: block;
            }
            pre {
                font-family: 'NanumSquare';
                color: #fcfbfa;
                font-size: 12px;
                line-height: 25px;
                display: block;
                overflow: hidden;
            }
        }
        .storyTextBox,.storyTextBox h1,.storyTextBox pre {
            display: none;
        }
    }
}